.price
  %h4= advert.topic.topic_group.title
  - if (advert.topic.title=="Autre")
    %p
      #{advert.other_name}
  - else
    %p
      #{advert.topic.title}
  - prices = advert.advert_prices
  - prices.each { |p|
  %dd
    = p.level.fr
    \: #{ActionController::Base.helpers.number_to_currency(p.price)}
  - }