= form_for @lesson_request, as: :request, url: user_lesson_requests_path(@teacher), method: :post, remote: true, html: {class: 'request-lession-form'} do |f|
  = hidden_field_tag 'lesson[teacher_id]', @teacher.id
  %h3#step1-title.change-booking-step.active{data:{toggle:'#step1'}}
    1. A propos du cours
    %small.pull-right.text-green modifier
  = render 'shared/errors', object: f.object
  #step1.booking-step.active
    .form-group
      = f.label :topic_id, 'Choisissez une matière'
      - options = @teacher.adverts.map(&:topic).uniq.compact.map{|t| [t.title, t.id]}
      = f.select :topic_id, options, {prompt: 'matière'}, {class: 'form-control topic-select'}
    .form-group
      = f.label :level_id, 'Choisissez le niveau'
      - if f.object.topic_id.present?
        - options = @teacher.adverts.includes(advert_prices: :level).where(topic_id: f.object.topic_id).uniq.pluck('levels.be', 'levels.id')
      - else
        - options = []
      = f.select :level_id, options, {prompt: 'niveau'}, {class: 'form-control level-select'}
    - if @teacher.first_lesson_free == true && @free_lessons.empty?
      .form-group
        = f.check_box :free_lesson, class: 'firstLessonFree', id: 'free_lesson'
        = f.label :free_lesson, "Cours d'essai gratuit (1/2h)", for: 'free_lesson'
    .form-group.hours-select
      = label_tag :time, 'Choisissez la durée du cours', class: 'control-label'
      .row
        .col-xs-2= select_hour f.object.hours, {prefix: :request, field_name: :hours, start_hour: 0, :end_hour => 5}, {class: 'form-control hours-select', required: true}
        .col-xs-1
          %label heure
        .col-xs-2= select_minute f.object.minutes, {prefix: :request, field_name: :minutes, minute_step: 15}, {class: 'form-control minutes-select', required: true}
        .col-xs-1
          %label min
    .form-group
      = f.label :comment, 'Un détail à préciser à votre prof?'
      = f.text_area :comment, class:'form-control', rows: "3", placeholder: "Ex: j'ai des difficultés avec la trigonométrie et les vecteurs."
    .actions
      %button.btn.btn-qw.btn-green.change-booking-step{type: 'button', data:{toggle:'#step2'}} Valider
  %h3#step2-title.change-booking-step{data:{toggle:'#step2'}}
    2. Date et heure
    %small.pull-right.text-green modifier
  #step2.booking-step
    .form-group
      = f.label :time_start, "Choisissez le jour et l'heure de votre cours"
      #datetimepicker.input-group.date
        = f.text_field :time_start, class: 'form-control', :required => true
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
    .actions
      %button.btn.btn-qw.btn-green.change-booking-step{type: 'submit', data:{toggle:'#step3'}} Valider
%h3#step3-title
  3. Paiement
#step3.booking-step


-#.form-actions
-#  %h4
-#    %span#price_shown= f.object.try(:calculate_price) || 0
-#    €
-#  = submit_tag :enregistrer, :class => 'btn btn-primary btn-mini'

:javascript
  $(document).ready(function(){
    $('.change-booking-step').click(function(){
      $('.booking-step').hide().removeClass('active');
      $('h3.change-booking-step').removeClass('active');
      $('.booking-infos').removeClass('active');
      $('h3'+$(this).attr('data-toggle')+'-title').addClass('active');
      $($(this).attr('data-toggle')+'-infos').addClass('active');
      $($(this).attr('data-toggle')).slideToggle(function(){
        $(this).addClass('active');
      });
    });
    $('form#new_request').on('submit', function(){
      $('#step3').html('<div class="text-center"><i class="fa fa-spin fa-3x fa-spinner text-green"></i></div>');
    });
  })