.container-fluid
  .row
    .col-md-offset-1
      %h2.booking-title Réservation de votre cours avec #{@teacher.name}
  .row
    .col-sm-1
    .col-sm-5
      #lesson-details
        = render partial: 'form', locals: {remote: false}
    .col-sm-5
      .additional-infos
        #step1-infos
          .teacher-recap
            .teacher-infos
              .teacher-avatar
                = image_tag(@teacher.avatar(:medium))
              .teacher-text
                .name Prof: #{@teacher.name}
                .reviews
                  %span.stars
                    = render partial: 'shared/star_rating', locals:{note: @teacher.avg_reviews}
                  #{@teacher.reviews_received.count}
                  %i.fa.fa-user
                .occupation #{@teacher.occupation.humanize}
                .degree Diplôme de #{@teacher.level.be}
            .teacher-topics.clearfix
              .topics-list
                -@teacher.adverts.each do |ad|
                  .topic #{ad.title}
              .level-max-list
                -@teacher.adverts.each do |ad|
                  .level-max
                    jusqu'au niveau
                    %b #{ad.max_level.partition(" ").first}
                .tarifs
                  =link_to('voir le tarif détaillé', '#prices-detail', class:'text-green')
            .teacher-references.text-center
              = image_tag('booking/booking-plus.png')
              #{@teacher.reviews_received.count} références
            .teacher-reactivity
              Réponse moyenne dans les 24h
        #step2-infos
        #step3-infos
:javascript
  $(document).ready(function(){
    //$('#lesson-details').trigger('update');
    new RequestLesson( $('#lesson-details'), {teacher_id: #{@teacher.id}} );
    $('#datetimepicker').datetimepicker({
      locale: moment.locale(),
      format: "dddd DD MMMM [à] HH:mm",
      minDate: moment("#{Time.current.beginning_of_hour + ((Time.now.min / 15.0).ceil * 15).minutes}", 'L LT')
    });
  });