.container-fluid
  .row
    .col-md-offset-1
      %h2.booking-title Réservation de votre cours avec #{@teacher.name}
  .row
    .col-sm-1
    .col-sm-5
      #lesson-details
        = render partial: 'form', locals: {remote: false}
    .col-sm-5
      .additional-infos
        #step1-infos.booking-infos.active
          .teacher-recap
            = render :partial => 'teacher_card', locals: {teacher: @teacher}
            = render :partial => 'teacher_topics', locals: {teacher: @teacher}
            = render partial: 'lesson_recap', locals: {lesson_request: @lesson_request}
            = render :partial => 'teacher_references', locals:{teacher: @teacher}
            = render :partial => 'teacher_reactivity', locals:{teacher: @teacher}
          .additional-links
            Pour plus d'informations à propos de:
            = link_to 'Garantie remboursement', pages_path('faq'), class: 'text-green', target: '_blank'
            = link_to 'Protection des données', pages_path('faq'), class: 'text-green', target: '_blank'
            = link_to 'Modes de payement sécurisés', pages_path('faq'), class: 'text-green', target: '_blank'

#detailed-pricing.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        - @adverts.keys.each do |key|
          - unless @adverts[key].empty?
            - levels = Level.where(code: key).group(:be).order(:level)
            %h5.title-green.text-center #{key}
            %table
              %thead
                %tr
                  %th tarifs €/h
                  -levels.each do |level|
                    %th{class: "level_col_#{level.id}"} #{t level.be, locale: :abv}
              %tbody
                - @adverts[key].each do |ad|
                  %tr.topic_row{id: "topic_row_#{ad.topic.id}"}
                    %th #{ad.topic.title}
                    -levels.each do |level|
                      %td.level_col{class: "level_col_#{level.id}"}
                        #{ad.price_for_level(level.id).nil? ? '&mdash;'.html_safe : "%g" % ad.price_for_level(level.id).price}

#detailed-reviews.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        = render partial: 'users/profile/profile_reviews', locals:{reviews: @teacher.reviews_received}


:javascript
  $(document).ready(function(){

    $('#datetimepicker').datetimepicker({
      locale: moment.locale(),
      format: "dddd DD MMMM [à] HH:mm",
      minDate: moment("#{Time.current.beginning_of_hour + ((Time.now.min / 15.0).ceil * 15).minutes}", 'L LT')
    });
    var r = new RequestLesson( $('#lesson-details'), {teacher_id: #{@teacher.id}} );
    $('#lesson-details').trigger('update');
    $('#datetimepicker').on('dp.change', function(){
      $('#request_time_start').trigger('change');
      $('#lesson-details').trigger('update');
    });
  });