!!! 5
%html
  %head
    = render "layouts/header"
  %body#body
    =render partial: 'layouts/navbar'
    -if current_user
      = render 'layouts/sidebar'
    #flash-messages
      - flash.each do |key, value|
        = render partial: 'shared/flash_dismiss', locals:{type: key, content: value}
    .main-content{:class => ('logged-in clearfix' if current_user)}
      = yield
    = render "layouts/footer"
    - if (current_user)
      = render partial: 'layouts/signed_in_modals'
      = subscribe_to "/chat"
      = subscribe_to "/notifications/"+current_user.id.to_s
    - unless current_user
      = render :partial => 'layouts/sign_up'
      = render :partial => 'layouts/log_in'

    = yield :bottom
